:root {
 margin: 0;
 padding: 0;
}

@import "tailwindcss";

@theme {
    --color-primary: #2563eb;
    --color-primary-dark: #1d4ed8;
    --color-secondary: #facc15;
    --color-secondary-dark: #eab308;
}

body {
    font-family: 'Inter', sans-serif;
    background-color: #f9fafb;
    color: #111827;
}